DB_NAME=dbname
DB_DSN=postgresql://username:password@localhost:5432/dbname
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFETIME=5
DB_CONN_MAX_IDLE_TIME=5

APP_EMAIL_TRANSPORT=dbg
APP_SMTP_HOST=localhost
APP_SMTP_PORT=1025
APP_EMAIL_FROM=support@norelease.dev
